<!-- templates/siteblog/category_create.html -->
{% extends 'base.html' %}
{% block title %}Créer une catégorie - CopalNews{% endblock %}
{% block content %}
    <div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-6">Créer une catégorie</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Créer</button>
        </form>
    </div>
{% endblock %}